/* Buttons */
.button {
  background: none;
  border: none;
}
.button:hover {
  cursor: pointer;
}

.button--pink {
  color: var(--color-white);
  font-weight: var(--weight-bold);
  background-color: var(--color-pink);
  line-height: 1.5;
  box-shadow: 0 0.6rem 1.3rem var(--color-shadow-black);
  transition: var(--transition) opacity, var(--transition) transform, var(--transition) box-shadow;
}
.button--pink:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  box-shadow: 0 0.3rem 2rem var(--color-shadow-black);
}
@media (max-width: 639px) {
  .button--pink {
    font-size: 1.2rem;
    padding: 1.1rem 3.9rem 1.1rem 4rem;
    border-radius: var(--border-radius-20);
  }
}
@media (min-width: 640px) {
  .button--pink {
    font-size: 2rem;
    padding: 2.5rem 9.9rem 2.5rem 10rem;
    border-radius: var(--border-radius-40);
  }
}
