/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 129.7rem;
}
@media (max-width: 639px) {
  .header {
    padding: 2.4rem 2.4rem 0;
  }
}
@media (min-width: 640px) {
  .header {
    padding: 7.8rem 6.3rem 0 8rem;
  }
}

.brand {
  display: inline-block;
}
@media (max-width: 639px) {
  .brand {
    max-width: 9.6rem;
  }
}
@media (min-width: 640px) {
  .brand {
    max-width: 24rem;
  }
}

.brand__logo {
  width: 100%;
}

/* header button */
.button--header {
  color: var(--color-pink);
  text-transform: capitalize;
  font-weight: var(--weight-regular);
  transition: var(--transition) background-color, var(--transition) color, var(--transition) box-shadow, var(--transition) transform;
}
.button--header:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem var(--color-shadow-pink);
}
@media (max-width: 639px) {
  .button--header {
    line-height: 1.382;
    font-size: 0.941rem;
    border: 0.59px solid var(--color-pink);
    border-radius: var(--border-radius-11);
    padding: 0.529rem 1.776rem 0.524rem 1.824rem;
  }
}
@media (min-width: 640px) {
  .button--header {
    font-size: 1.6rem;
    line-height: 1.375;
    border: 1px solid var(--color-pink);
    border-radius: var(--border-radius-20);
    padding: 0.9rem 3rem 0.9rem 3.1rem;
  }
}
