/* Together */
@media (max-width: 639px) {
  .together-inner-padding {
    padding-top: 8.222rem;
    padding-bottom: 5.7rem;
  }
}
@media (min-width: 640px) {
  .together-inner-padding {
    padding-top: 6.8rem;
    padding-bottom: 4.6rem;
  }
}

@media (max-width: 639px) {
  .together-image-mb {
    margin-bottom: 7.5rem;
  }
}

@media (max-width: 639px) {
  .together {
    text-align: center;
  }
}
@media (min-width: 640px) {
  .together {
    text-align: left;
  }
  .together-flex-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 640px) {
  .section-image--together {
    max-width: 51.722rem;
  }
}

/* Conversation */
@media (max-width: 639px) {
  .conversation {
    padding-top: 14rem;
    text-align: center;
    padding-bottom: 12rem;
  }
}
@media (min-width: 640px) {
  .conversation {
    text-align: left;
    padding-top: 19.5rem;
    padding-bottom: 11.1rem;
  }
}

@media (max-width: 639px) {
  .conversation-image-mb {
    margin-bottom: 8.7rem;
  }
}

@media (min-width: 640px) {
  .conversation-flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .section-image--conversation {
    max-width: 53.1rem;
  }
}

/* Users */
@media (max-width: 639px) {
  .users {
    text-align: center;
  }
  .users-inner-padding {
    padding-top: 1.6rem;
    padding-bottom: 11.5rem;
  }
}
@media (min-width: 640px) {
  .users-inner-padding {
    padding-top: 4.2rem;
    padding-bottom: 3.9rem;
  }
}

@media (max-width: 639px) {
  .users-image-mb {
    margin-bottom: 7.9rem;
  }
}

@media (min-width: 640px) {
  .users {
    text-align: left;
  }
  .users-flex-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .section-image--users {
    max-width: 53.4rem;
  }
}