/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

input {
  background: none;
  border: none;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  background-color: var(--color-white);
  color: var(--color-very-dark-cyan);
}